body {
  margin: 0;
  font-size: 1.5em;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.display {
  background-color: #DCDCDC;
  flex: 1;
}

.header {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.footer {
  background-color: #808080;
}

.nav {
  background-color: #F5F5F5;
}

.item {
  margin: 5px;
  padding: 5px;
  border: solid 1px grey;
  text-align: center;
}